[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
airtable-python-wrapper = "*"
cloudinary = "*"
python-documentcloud = "*"
twython = "*"

[requires]
python_version = "3.6"
